<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <p>The email address {{session['email']}} is a VALID email address! Thank you!</p>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Email Address Entered</td>
                <td>Time Added</td>
                <td>Time Updated</td>
            </tr>
        </thead>
        <tbody>
            {% for email in all_emails %}
            <tr>
                <td>{{email.id}}</td>
                <td>{{email.email}}</td>
                <td>{{email.created_at}}</td>
                <td>{{email.updated_at}}</td>
                <td><a href="/delete/{{email.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="/">Home</a></button>
</body>
</html>